/* CVRegineDjalo */
/* CV FFDE03 0336FF FF0266  #1f4874*/
/* $jaune: #FFDE03; 
$orange: #E54304; */

#page {
    width: 100%;
    height: auto;
    font-family: Roboto, Verdana, Arial, "Open Sans";
    overflow: hidden;
    background-color: white;
}


.fas {
    color: black;
}

.loisirs {
    color: black;
}

.fa-briefcase,
.fa-graduation-cap {
    color: #E54304;
}

.fa-2x {
    font-size: 1rem !important;
    color: #FFDE03;
}

.fa-1x {
    font-size: 0.5rem !important;
    color: #FFDE03;
}

.far {
    display: inline-block;
    color: #FFDE03;

}

.fa.fa-circle {
    color: #FFDE03;
}

.fas.fa-circle.fa-1x.exp {
    color: #FFDE03;
    border: 1.5px #FFDE03 solid;
    border-radius: 50%;
    padding: 5px;
}


.svg-inline--fa.fa-pencil-alt {
    width: 35px;
    color: #E54304;
}

h3 {
    font-size: 1.2rem;
}

.soustraire {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* espace gauche */


.col-12.col-md-4.espaceGauche {
    background-color: #FFDE03;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.fluidGauche {
    position: relative;
}

#headerUn {
    visibility: hidden;
    height: 80px;
}

.photo img {
    border-radius: 100%;
    width: 70%;
}

.gaucheTitre {
    background-color: #E54304;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    width: 100%;
    margin-top: 4vh;
    text-align: center;
}

.mg {
    margin-bottom: 0px;
}

.contactText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 30px;
}

.coordonnees {
    color: black;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 25px;
}

.site a,
.mentions-contenu a {
    color: black;
}

.site {
    cursor: pointer;
}

.fab {
    color: #f2f2f2;
}

#Apropos p {
    font-size: 0.8rem;
    padding: 10px;
}

.col-12.mx-auto.moi {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.footerGauche {
    position: absolute;
    top: 90%;
}

.loisirs {
    margin-top: 3vh;

}

.loisir {
    border: 3px solid black;
    border-radius: 50%;
    padding: 12px;
}

.loisirSwim {
    padding: 14px 8px 12px 8px;
}

.loisirCinema {
    padding: 12px 13px 12px 13px;
}


/*espace droite */

.col-12.col-md-8.espaceDroite {
    padding-left: 50px;
    padding-top: 50px;
}

#headerDeux {
    visibility: visible;
}

.intituleDeux {
    padding-top: 7vh;
    color: #FFDE03;
    font-weight: 400;
    font-size: 4rem;
}

.intituleDeux span {
    color: black;
    font-size: 4rem;
    font-weight: 900;
}


.rdDeux {
    font-size: 2rem;
    font-weight: 900;
}

.ligne {
    height: 3px;
    width: 100px;
    background-color: #E54304;

}

.fa-scrubber {
    width: 15px;
}

#experience {
    margin-top: 100px;
    margin-bottom: 50px;
}

.exp,
.form {
    color: black;
    font-weight: 900;
}


.ligneExp,
.ligneForm {
    padding-top: 5px;
    height: 1px;
    width: 95%;
    background-color: #E54304;
}

#exp {
    margin-top: 30px;
    width: 700px;
}

#exp>li {
    position: relative;
    list-style: none;
}

#postes,
#formations,
#recommandation {
    margin-top: 50px;

}

.posteUn,
.formationUn {
    padding-top: 30px;
}

.poste {
    list-style: none;
    margin-top: -5px;
}

li>span {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.activites,
.contenuForm {
    text-align: justify;
    margin-top: 5px;
}

.intitulePoste,
.lieu {
    font-size: 1.1rem;
    margin-top: 5px;
}

.formationUn {
    margin-top: 25px;

}

.formation>li {
    list-style: none;

}

#form {
    width: 700px;
    height: 400px;
    margin-top: 30px;
}


.recommandations {
    margin-top: 30px;
}

.mentions {
    margin-top: 10vh;
    margin-bottom: 0;
}

.mentions-titre {
    font-size: 0.75rem;
    font-weight: bold;
}

.mentions-contenu {
    font-size: 0.5rem;
    font-weight: bold;
}



@media (min-width: 320px) and (max-width: 767px) {

    #headerUn {
        visibility: visible;
        text-align: center;
        margin-top: 3vh;
    }

    .intituleUn {
        font-weight: 900;
        font-size: 2rem;
    }

    .intitule>span {
        font-size: 2rem;
        font-weight: 900;
    }

    .rdUn {
        font-size: 1rem;
        font-weight: 900;
    }

    #headerDeux {
        visibility: hidden;
    }

    .photo img {
        width: 70%;
    }

    #experience {
        margin-top: -170px;
    }

    .col-12.mx-auto.moi {
        padding-left: 35px;
        padding-right: 25px;
    }

    #loisirs {
        margin-top: 10%;
    }

    .col-12.col-md-8.espaceDroite {
        padding-left: 0px;
        margin-top: -100px;
    }

    .exp,
    .form {
        font-size: 1.5rem;
    }

    .espaceDroite--title {
        text-align: center;
    }

    .activites {
        text-align: center;
    }

    #formations,
    #postes {
        text-align: center;
        margin-right: 20px;
        margin-left: -15px;
    }

    .dates {
        margin-left: auto;
        margin-right: auto;
    }

    .ligneExp,
    .ligneForm {
        width: 100%;
    }



    .link {
        padding-bottom: 20px;
    }

    .mentions {
        text-align: center;

    }

}

@media (min-width: 415px) and (max-width: 767px) {

    .col-12.col-md-8.espaceDroite {
        padding-top: 120px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .intituleDeux {
        font-size: 2.5rem;
    }

    .intituleDeux span {
        font-size: 2.5rem;
    }

    .rdDeux {
        font-size: 1.5rem;
    }

    .col-12.mx-auto.moi {
        padding-left: 35px;
        padding-right: 25px;
    }

    .col-12.col-12.col-md-8.espaceDroite {
        padding-left: 3px;
    }

    .espaceDroite--title {
        margin-top: -30px;
    }

    .exp,
    .form {
        font-size: 1.4rem;
        margin-top: 10px;
    }
}


@media (min-width: 768px) and (max-width: 1119px) {

    .mentions {
        margin-top: 200px;
    }
}